# Logs Configuration
LOGGING_LEVEL = 30

# Relational Database Configuration
PG_HOST=127.0.0.1
PG_PORT=2000
PG_USER=user
PG_PASSWORD=pass
PG_DB=test

ADMINER_PORT=2001


# Mongo Database Configuration
MONGO_HOST=127.0.0.1
MONGO_PORT=3501
MONGO_USER=user
MONGO_PASSWORD=test
MONGO_USE_SRV=false
MONGO_DB=test_mongo
